/*
#FC1E08
#E0072F
#F714AF
#CB07E0
#A108FC
*/

body {
    background-color: #A108FC;
    font-family: 'Titillium Web', sans-serif;
    color: aqua;
    margin: 0;
    margin-bottom: 40px;
}

body>header>img {
    width: 50%;
}

body>header {
    text-align: center;
    padding: 50px;
    background-color: #E0072F;
    color: white
}

body>nav {
    flex: 1;
    padding: 20px;
}

body>nav>ul {
    list-style: none;
    text-align: center;
}

body>nav>ul>li {
    display: inline;
    padding: 20px;
}

body>nav>ul>li:hover {
    color: black;
    cursor: pointer;
    font-size: 20px;
}

section {
    text-align: center;
}

body>section>div .main-text {
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}

#secondary-text {
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: tomato;
    color: white;
    text-align: center;
}